<div class="col mx-auto" style="max-width: 1040px">
  {{!-- user profile --}}
  <div class="card mb-2 mx-auto">
    <div class="row g-0">
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        <img src="{{user.image}}" class="user-avatar img-thumbnail" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ user.name }}</h5>
          <p class="card-text">{{ user.email}}</p>
          <p class="card-text">{{user.commentCount}} 家已評論的餐廳</p>
          {{#ifCond selfUser.id user.id }}
          <a href="/users/{{user.id}}/edit"><button class="btn btn-outline-success my-sm-0 my-2">Edit</button></a>
          {{/ifCond}}
          {{#if user.isFollowed }}
          <form action="/following/{{user.id}}?_method=DELETE" method="POST" style="display: contents;">
            <button type="submit" class="btn btn-danger">取消追蹤</button>
          </form>
          {{else}}
          <form action="/following/{{user.id}}" method="POST" style="display: contents;">
            <button type="submit" class="btn btn-primary">追蹤</button>
          </form>
          {{/if}}
          {{#if user.isFollowedMe }}
          <p class="card-text mt-2">{{user.name}} 有追蹤你歐！</p>
          {{else}}
          <p class="card-text mt-2">{{user.name}} 尚未追蹤你..</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
  {{!-- info --}}
  <div class="d-flex">
    <div class="col-4">
      <div class="card mb-3 me-1">
        <div class="card-header">
          {{ user.followerCount }} 個追蹤者
        </div>
        <div class="card-body">
          <div class="row g-1">
            {{#each user.Followers}}
            <div class="card-user col-md-3 mb-1">
              <a href="/users/{{this.id}}">
                <img src="{{this.image}}" data-id=${item.id} class="img-fluid card-user-img" data-bs-toggle="modal"
                  data-bs-target="#user-modal" alt="user-img" role="button" title="{{this.name}}">
              </a>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="card me-1">
        <div class="card-header">
          已追蹤 {{ user.followeeCount }} 人
        </div>
        <div class="card-body">
          <div class="row g-1">
            {{#each user.Followees}}
            <div class="card-comment col-md-3 mb-1">
              <a href="/users/{{this.id}}">
                <img src="{{this.image}}" data-id=${item.id} class="img-fluid card-user-img" data-bs-toggle="modal"
                  data-bs-target="#user-modal" alt="user-img" role="button" title="{{this.name}}">
              </a>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="card ms-2">
        <div class="card-header">
          {{ user.commentCount }} 家已評論的餐廳
        </div>
        <div class="card-body">
          <div class="row g-1">
            {{#each user.Comments}}
            <div class="card-comment col-md-2 mb-1">
              <a href="/restaurants/{{this.Restaurant.id}}">
                <img src="{{this.Restaurant.image}}" data-id=${item.id} class="img-thumbnail card-restaurant-img"
                  data-bs-toggle="modal" data-bs-target="#user-modal" alt="restaurant-img" role="button"
                  title="{{this.Restaurant.name}}">
              </a>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>